<h2>Welcome to the Venue Planner</h2>

<%= link_to("Venues", venues_path) %>&nbsp; &nbsp; &nbsp; &nbsp;
<%= link_to("Bands", bands_path) %>&nbsp; &nbsp; &nbsp; &nbsp;
<%= link_to("Events", events_path) %>



