</br>
</br>
<h1>Band.io</h1>
<h2>Premiere Venue Planner</h2>

<%= link_to("Venues", venues_path) %>&nbsp; &nbsp; &nbsp; &nbsp;
<%= link_to("Bands", bands_path) %>&nbsp; &nbsp; &nbsp; &nbsp;
<%= link_to("Events", events_path) %>



